<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <div class="back" (click)="voltar()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        <p>Voltar</p>
      </div>
    </ion-row>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div *ngFor="let end of enderecos">
    <ion-card>
      <img alt="cidade" src="../../assets/cidade.jpg/curitiba2.jpg" />
      <ion-card-header>
        <ion-card-subtitle
          >{{end.rua}} - {{end.nmr}}</ion-card-subtitle
        >
        <ion-card-title
          >{{end.city}} - {{ end.uf}}</ion-card-title
        >
      </ion-card-header>

      <ion-card-content>
        Bairro {{end.bairro}} {{end.cep}}
        <br />
        {{end.comp}}
        <br />
        <ion-row>
          <ion-col size="8"></ion-col>
          <!-- <ion-col size="4"> -->
          <!-- <ion-button size="small" color="primary" fill="outline" (click)="editar()">
              <ion-icon name="create-outline"></ion-icon>
              <ion-label style="margin-top: 0; margin-left: 6px"
                >EDITAR</ion-label>
            </ion-button> -->
          <!-- </ion-col> -->
          <ion-col size="4">
            <ion-button size="small" color="danger"(click)="deletar(end.cep)">
              <ion-icon name="trash-outline"></ion-icon>
              <ion-label style="margin-top: 0; margin-left: 6px"
                >EXCLUIR</ion-label
              >
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" style="margin: 2rem">
    <ion-fab-button (click)="novo()" color="dark">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
