<ion-content class="fundo" [fullscreen]="true">
  <div class="espaco">
    <ion-row style="margin-top: 30px">
      <ion-col id="coluna1">
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating"
            >CEP <span style="color: red">*</span></ion-label
          >
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="00000-000"
            [(ngModel)]="endereco.cep"
            (ionChange)="searchCEP($event)"
            maxlength="8"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col id="coluna1">
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating"
            >NUMERO <span style="color: red">*</span></ion-label
          >
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="Ex: 1000"
            [(ngModel)]="endereco.numero"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col id="coluna1">
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating">COMPLEMENTO</ion-label>
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="Ex. CASA APTO"
            [(ngModel)]="endereco.complemento"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="coluna1">
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating">RUA</ion-label>
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder=""
            [(ngModel)]="endereco.endereco"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="coluna1">
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating">BAIRRO</ion-label>
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder=""
            [(ngModel)]="endereco.bairro"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col id="coluna1">
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating">CIDADE</ion-label>
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder=""
            [(ngModel)]="endereco.cidade"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col id="coluna1">
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating">UF</ion-label>
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="Estado"
            [(ngModel)]="endereco.estado"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col class="espaco">
      <ion-button shape="block" color="success" (click)="cadastrar()"
        >Cadastrar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
